.topbarContainer{
    height: 3.5rem;
    width: 100%;
    background-color:#3DB2FF ;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarLeft{
    flex: 3;
}
.logo{
    font-size: 2.5rem;
    margin-left: 2rem;
     /* font-weight: bold; */
    cursor: pointer;
    font-family: 'Cookie', cursive;
    color: #FF2E63;
    text-shadow: 1px 1px 1px white;
    transition: all 0.3s linear;
}
.logo:hover{
    color: white;
    text-shadow: 1px 2px 2px #FF2E63;
}
.searchbar{
    width: 100%;
    height: 1.9rem;
    background-color: white;
    border-radius: 1.8rem;
    display: flex;
    text-align: center;
    color: #252A34;
}
.searchIcon{
    font-size: 1.5rem !important;
    margin-left: 1rem;
    color: #FF2E63;
}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}

.topbarCenter{
    flex: 5;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.5px 0.5px 1px #252A34;

}
.topbarLink{
    margin-right: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
     transition: all 0.3s linear;
}
.topbarLink:hover{
    font-size: 1.1rem;
}
.topbarIcons{
    display: flex;
}
.topbarIconItem{
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}
.topbarIcomSingle{
 transition: all 0.5s linear;
}
.topbarIcomSingle:hover{
font-size: 2rem;
}
.topbarIconBadge{
    width: 0.95rem;
    height: 0.95rem;
    border-radius: 50%;
    background-color: #FF2E63;
    color: white;
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}
.topbarImg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  
   
}